
/* Container holding the image and the text */
  .carousel-caption{
    position: absolute;
    padding: 5px 20px 0 0;
	  margin-left: 5em;
	  margin-top: -200px;
    width: 30em!important;
    height: auto;
    border-radius: 0.5em;

  }
  .carousel-caption h4{
    color: maroon;
  }
    .one{
      background:white;
  }
  .two{
	background:turquoise;

  }
  .three{
	background: royalblue;
  }
    @-webkit-keyframes zoom {
      from {
        -webkit-transform: scale(1.5, 1.5);
      }
      to {
        -webkit-transform: scale(1, 1);
      }
    }
    
    @keyframes zoom {
      from {
        transform: scale(1.5, 1.5);
      }
      to {
        transform: scale(1, 1);
      }
    }
    
    .zoom img {
      -webkit-animation: zoom-in 10s;
      animation: zoom-in 10s;
    }
  
  .box{
      position: relative;
      /*width: 16.5em; */
      height: 26em;
      overflow: hidden;
  }
  .box img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover!important;
    transition: opacity 1s ease-in-out;
}
.box img.img-front:hover{
    opacity: 0;
    cursor: pointer;
    
}
.content-wrapper{
    width: 100%;
    margin-bottom: 9em;
}

.content-wrapper img{
    object-fit: cover!important;
}

.text-wrapper{
  margin-top: -25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-wrapper h2{
    text-align: center;
    color: seashell;
}
.text-wrapper .text-underline{
  display: flex;
  justify-content: center;
  margin: 1em  0;
}
.text-underline h5{
  color: #111111;
	font-weight: 500;
	text-transform: uppercase;
	/* position: relative; */
	display: inline-block;
  text-align: center;
  border-bottom: 2px solid #ca1515;
}
.text-wrapper .btn{
  display: flex;
  align-self: center;     
}
.home-blog{
    height: 50em;
}
.sizes a{
background-color: whitesmoke;
color: maroon;
font-weight: 50;
font-size: smaller;
margin: 0 2px 5px;
padding: 2px 8px;
border-radius: 2px;
}
.carrt{
  display: block;
}
.mobile-carrt{
  display: none;
}
.product__details__pic__slider img{
  height: auto!important;
  width: auto!important;
}
#currency-select {
  margin-left: 7em;
  margin-top: 1em;
}

/* ..............................
PAYMENT */	
/* .............................. */
.payment-wrapper{
  display: flex;
  /* flex-direction: column; */
}
.payment-links{
  display: flex;
  justify-content: space-around;
}
.express-checkout {
  margin-top: 2em;
  border: 2px solid whitesmoke;
}
.contact-checkout h5 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.contact-checkout h5 span { 
  background:#fff; 
  padding:0 10px; 
}
.contact-checkout {
  margin-top: 2em;
}

/* .............................. MEDIA QUERY...............................   */


      @media only screen and (max-width: 768px) {
       
        .mobile-carrt{
          margin-left: 36%;
        }
        .mobile-carrt img{
          width: 2em;
        }
        .carrt{
          display: none;
        }
        .mobile-carrt{
          display: block;
        }
        
        .sizes a{
          font-size: x-small;
        }
          .down{
              display: none;
          }
        .offcanvas-menu-wrapper {
            margin-top: 5em!important;
        }
        .carousel-caption {
            padding: 5px 20px 0 0;
	        margin-left: 0;
	        margin-top: -200px;
            width: 10em!important;
    
          }
          .carousel-caption h4{
            font-size: 90%!important;
          }
          .carousel-caption h5{
            font-size: 90%!important;
          }
          .box{
            position: relative;
            width: 11em;
            height: 16em;
            overflow: hidden;
        }
        .box img{
          position: absolute;
          left: 0;
          right:0;
          /*width: 11em;*/
          height: 16em;
          transition: opacity 0.6s ease-in-out;
      }
        .carrt{
          display: none!important;
        }
         
      }
  