
/* Container holding the image and the text */
  .carousel-caption{
    position: absolute;
    padding: 5px 20px 0 0;
	  margin-left: 5em;
	  margin-top: -200px;
    width: 30em!important;
    height: auto;
    border-radius: 0.5em;

  }
  .carousel-caption h4{
    color: maroon;
  }
    .one{
      background:white;
  }
  .two{
	background:turquoise;

  }
  .three{
	background: royalblue;

  }
  .box{
      position: relative;
      /*width: 16.5em; */
      height: 22.5em;
      overflow: hidden;
  }
  .box img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover!important;
    transition: opacity 1s ease-in-out;
}
.box img.img-front:hover{
    opacity: 0;
    cursor: pointer;
    
}
.content-wrapper{
    width: 100%;
    margin-bottom: 9em;
}

.content-wrapper img{
    object-fit: cover!important;
}
/* ....................... */
/* .section-title {
	margin-bottom: 45px;
}

.section-title h4 {

}

.section-title h4:after {
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 70px;
	background: #ca1515;
	content: "";
} */

/* ............................. */

.text-wrapper{
  margin-top: -25%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.text-wrapper h2{
    text-align: center;
    color: seashell;
}
.text-wrapper h4{
  color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
  /* text-align: center; */

}
.text-wrapper h4:after {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	width: 70px;
	background: #ca1515;
	content: "";
}
/* .text-wrapper .btn{
    margin-left: 42%;
     
} */
.home-blog{
    height: 50em;
}
.sizes a{
background-color: whitesmoke;
color: maroon;
font-weight: 50;
font-size: smaller;
margin: 0 2px 5px;
padding: 2px 8px;
border-radius: 2px;
}
.carrt{
  display: block;
}
.mobile-carrt{
  display: none;
}



      @media only screen and (max-width: 768px) {
       
        .mobile-carrt{
          margin-left: 36%;
        }
        .mobile-carrt img{
          width: 2em;
        }
        .carrt{
          display: none;
        }
        .mobile-carrt{
          display: block;
        }
        
        .sizes a{
          font-size: x-small;
        }
          .down{
              display: none;
          }
        .offcanvas-menu-wrapper {
            margin-top: 5em!important;
        }
        .carousel-caption {
            padding: 5px 20px 0 0;
	        margin-left: 0;
	        margin-top: -200px;
            width: 10em!important;
    
          }
          .carousel-caption h4{
            font-size: 90%!important;
          }
          .carousel-caption h5{
            font-size: 90%!important;
          }
          .box{
            position: relative;
            width: 11em;
            height: 16em;
            overflow: hidden;
        }
        .box img{
          position: absolute;
          left: 0;
          right:0;
          /*width: 11em;*/
          height: 16em;
          transition: opacity 0.6s ease-in-out;
      }
        .carrt{
          display: none!important;
        }
         
      }
  